


/* footer style */
.icon1 {
  margin: 20px 10px;
  color: black;
}

.icon1:hover {
  color: #c70d3a;
}

#footer{
  /* padding: 2.5rem 0; */
  /* padding-bottom: 0px; */
}


.container-fluid{
/* padding: 20px 0; */
margin: auto auto;
background-color: #f1f1f6;
}

/* body style */
body {
  text-align: center;
  padding: 1% 15% 7% ;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

/* picture of the body */
.flag1{
  margin-top: 120px;
  margin-left: 80px;
  margin-right: 80px;

}

.flag2{

  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 30px;
}

/* text */
.middleText{
  font-family: 'Montaga', serif;
  text-align: justify;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 0px;
}

/* navigation bar */
.nav-link{
  font-family: 'Lilita One', cursive;
}
